*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/misc.xml

app/src/main/java/com/bloodhub/android/activities/ProfileActivity.java

app/src/main/java/com/bloodhub/android/activities/ProfileActivity.java

*.java
